@{
    ViewData["Title"] = "Blog";
}

<div class="container">
    <div class="col-md-12">
        <h1 class="text-center">Blog Posts</h1>
        <h2 class="text-center">Acticles about food</h2>
    </div>

    <div class="col-md-12">
        <hr>
        <h2 class="text-left" style="font-size:32px">Article1</h2>
            <h2 class="text-left" style="font-size:28px">Lorem ipsum dolor sit amet, dicant graecis in per. Ne semper timeam sed, fugit splendide cu quo. Mundi pericula nam id. Vidit euismod necessitatibus te qui. Elit pertinax at qui, no repudiare mediocritatem sit, ex pro velit platonem.
        </h2>
        <h2 class="text-left" style="font-size:22px">Article details</h2>
    </div>

    <div class="col-md-12">
        <hr>
        <h2 class="text-left" style="font-size:32px">Article1</h2>
            <h2 class="text-left" style="font-size:28px">Lorem ipsum dolor sit amet, dicant graecis in per. Ne semper timeam sed, fugit splendide cu quo. Mundi pericula nam id. Vidit euismod necessitatibus te qui. Elit pertinax at qui, no repudiare mediocritatem sit, ex pro velit platonem.
        </h2>
        <h2 class="text-left" style="font-size:22px">Article details</h2>
    </div>

    <div class="col-md-12">
        <hr>
        <h2 class="text-left" style="font-size:32px">Article1</h2>
            <h2 class="text-left" style="font-size:28px">Lorem ipsum dolor sit amet, dicant graecis in per. Ne semper timeam sed, fugit splendide cu quo. Mundi pericula nam id. Vidit euismod necessitatibus te qui. Elit pertinax at qui, no repudiare mediocritatem sit, ex pro velit platonem.
        </h2>
        <h2 class="text-left" style="font-size:22px">Article details</h2>
    </div>

    <div class="col-md-12">
        <hr>
        <h2 class="text-left" style="font-size:32px">Article1</h2>
            <h2 class="text-left" style="font-size:28px">Lorem ipsum dolor sit amet, dicant graecis in per. Ne semper timeam sed, fugit splendide cu quo. Mundi pericula nam id. Vidit euismod necessitatibus te qui. Elit pertinax at qui, no repudiare mediocritatem sit, ex pro velit platonem.
        </h2>
        <h2 class="text-left" style="font-size:22px">Article details</h2>
    </div>
</div>