@{
    ViewData["Title"] = "Contact";
}
<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="jumbotron">
    <h1 class="text-center">Contact Us </h1>
    <a style="color: orange; font-size: 20px;">Lorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaconsectetur adipisicing elit, 
     sed do eiusmod tempor incididunt ut labore et dolore magna aliquaconsectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a><br>
    <div class="text-center"><button class="btn btn-primary" type="button">Read More</button></div>
    </div> 
   </div> 
</div>


<div class="container">
    <div class="row">
        <div class="col-md-6 col-sm-8 col-xs-12">
            <div class="well well-sm">
                <form class="form-horizontal" method="post">
                    <fieldset>
                        <legend class="text-center header">Contact us</legend>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="fname" name="name" type="text" placeholder="First Name" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="lname" name="name" type="text" placeholder="Last Name" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="email" name="email" type="text" placeholder="Email Address" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <input id="phone" name="phone" type="text" placeholder="Phone" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" id="message" name="message" placeholder="Enter your massage for us here. We will get back to you within 2 business days." rows="7"></textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-md-12 text-center">
                                <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-md-6 col-sm-4 col-xs-12">
            <div>
                <div class="panel panel-default">
                    <div class="text-center header">Our Office</div>
                    <div class="panel-body text-center">
                        <h4>Address</h4>
                        <div>
                        2217 Washington Blvd<br />
                        Washington DC<br />
                        #(703) 1234 1234<br />
                        service@company.com<br />
                        </div>
                        
                        <iframe class="img-responsive" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3157.4311559306625!2d176.1636145152172!3d-37.68607217977565!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d6ddbdcda4c1fa5%3A0xe810a40c49d84dda!2s200+Cameron+Rd%2C+Tauranga%2C+3110!5e0!3m2!1sen!2snz!4v1506303324444"   frameborder="0" style="border:0" allowfullscreen></iframe>
                      
                        <hr />
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
<div class="row">
 <div class="col-md-12 col-sm-12 col-xs-12">
  <div class="jumbotron">
    <h1 class="size=10px";"text-center">Tollfree Contacts </h1>
    <a style="color: orange; font-size: 20px;">Lorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.Lorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliquaLorem ipsum dolor sit amet,
     consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</a><br>
    <div class="text-center"><button class="btn btn-primary btn-sx" type="button">Read More</button></div>
    </div>
   </div> 
</div>




</div>