@{
    ViewData["Title"] = "Home Page";
}
<div class="col-md-12 col-sm-12 col-xs-12">
 <div  class="jumbotron">
      <div class="container">
        <h1 class="text-center">Food Guru - Choice of food</h1>
        <p style="color: #002266; font-size: 20px;">This is a template for a simple marketing or informational website. It includes a large callout called
           a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique. This is a template for a simple marketing or informational website. It includes a large callout called
           a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique</p>
        <p><div class="text-center"><a class="text-center btn btn-primary " href="#" role="button">Learn more &raquo;</a></p></div>
      </div>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="text-center"><h3>Our Services</h3></div>
    <div class="container">
      <div class=" col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="~/images/sachet1.jpg" alt="first image"><div id="caption">Egg and Cheese Roll</div></div>
      <div class=" col-md-4 col-sm-6 col-xs-12"><img class="img-responsive" src="~/images/sachet2.jpg" alt="second image"><div id="caption">Tropical Vegetarian</div></div>
      <div class=" col-md-4 col-sm-6 col-xs-12"><img  class="img-responsive" src="~/images/sachet3.jpg" alt="third image"><div id="caption">Beef and Onion Sandwich</div></div>
      <div class=" col-md-4 col-sm-6 col-xs-12"><img  class="img-responsive" src="~/images/sachet4.jpg" alt="four image"><div id="caption">Garlic Bread Pizza</div></div>
      <div class=" col-md-4 col-sm-6 col-xs-12"><img  class="img-responsive" src="~/images/sachet5.jpg" alt="five  image"><div id="caption">Black and white cream</div></div>
       <div class=" col-md-4 col-sm-6 col-xs-12"><img class="img-responsive"src="~/images/sachet6.jpg" alt="six image"><div id="caption">Chicken adn Onion Roll</div></div>
    </div>
    </div>

    
    <div class="text-center"><h3>Special Recipies</h3></div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <h2 class="text-center">Italian Pizza</h2>  
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim malesuada neque ut sollicitudin.
             Vestibulum vulputate sapien a vulputate vehicula. Mauris vel risus nec orci eleifend gravida. Donec auctor lorem vitae ipsum sollicitudin malesuada. 
             In at malesuada quam. Morbi ut aliquam orci. Class aptent taciti sociosqu 
            ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi efficitur turpis sit amet dolor gravida volutpat. Sed vel lobortis purus</p>
         </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
          <h2 class="text-center">Chinese Sushi</h2>  
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim malesuada neque ut sollicitudin.
             Vestibulum vulputate sapien a vulputate vehicula. Mauris vel risus nec orci eleifend gravida. Donec auctor lorem vitae ipsum sollicitudin malesuada. 
             In at malesuada quam. Morbi ut aliquam orci. Class aptent taciti sociosqu 
            ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi efficitur turpis sit amet dolor gravida volutpat. Sed vel lobortis purus</p>
         </div>
         <div class="col-md-4 col-sm-6 col-xs-12">
          <h2 class="text-center">Indian Spices</h2>  
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur dignissim malesuada neque ut sollicitudin.
             Vestibulum vulputate sapien a vulputate vehicula. Mauris vel risus nec orci eleifend gravida. Donec auctor lorem vitae ipsum sollicitudin malesuada. 
             In at malesuada quam. Morbi ut aliquam orci. Class aptent taciti sociosqu 
            ad litora torquent per conubia nostra, per inceptos himenaeos. Morbi efficitur turpis sit amet dolor gravida volutpat. Sed vel lobortis purus</p>
         </div>
        </div>
        </div>