<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="site.css">
</head>


<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" id="my-navbar">
        <div class="container">
            <div class="navbar-header">
                <!-- responsive nav button -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
                <!-- logo -->
                <a href="" class="navbar-brand"> Foody</a>

                </a>
            </div>
            <!-- Navbar Header-->
            <div class="collapse navbar-collapse" id="navbar collapse">
                <ul class="nav navbar-nav">
                    <li><a href="Index.html">Home</a>
                        <li><a href="Profile.html">Profile</a>
                            <li><a href="Portfolio.html">Portfolio</a>
                                <li><a href="Blog.html">Blog</a>
                                    <li><a href="Media.html">Media Gallery</a>
                                        <li><a href="Contact.html">Contact</a>
                </ul>
            </div>


        </div>

    </nav>



    <!-- /#footer Start here-->
    <footer class="site-footer">
        <div class="container">
            <div class="row">
            </div>
            <div class="bottom-footer">
                <div class="col-md-5">© Copyright Webdevelopers 2017.</div>
                <div class="col-md-7">
                    <ul class="footer-nav">
                        <li><a href="www.facebook.com">facebook</a></li>
                        <li><a href="www.linkedin.com">linkedin</a></li>
                        <li><a href="www.twitter.com">twitter</a></li>
                        <li><a href="www.google.com">google+</a></li>
                    </ul>
                </div>
            </div>
    </footer>


</body>

</html>