@{
    ViewData["Title"] = "Portfolio";
}


   

    <!-- 
            ================================================== 
                Portfolio Description Section Start
            ================================================== -->
    <div class="jumbotron">
        <h1>Portfolio</h1>
      
    </div>
    <section class="profile-description custom-background row">
        <div class="container">
            <div class="row">
             
                    <img src="~/images/food.jpg" class="image-circle" class="food" alt="">
                </div>
                <div class="col-md-6">
                    <div class="block">


                        <h2>
                            What We Love To Do
                        </h2>
                        <p1>
                            We love to create new dishes with perfection which attracts the attention of public.
                        </p1>


                    </div>
                </div>
            </div>
        </div>
    </section>
    
    <div class="row service-parts">
        <div class="col-md-6">
 
                <i class="ion-ios-paper-outline"></i>
                <h4>Desserts</h4>
                <p2>In Desserts, we serve a lot of different sweet dishes like- Sorbet, Cheesecake, Flan, Custard, Waffle, Tiramisu, Panna cotta etc.</p2>
            </div>
        </div>
        
        <section></section>
        <div class="col-md-6">
         
                <i class="ion-ios-pint-outline"></i>
                <h4>Patties</h4>
                <p2>We bake delicious patty like Veggie patty, Bacon petty, Apple petty, Fruit-Nut petty, Maas petty etc. </p2>
            </div>
        </div>
        <div class="col-md-6">
       
                <i class="ion-ios-paper-outline"></i>
                <h4>Cocktails</h4>
                <p2>You can have so many variety of cocktails like- Dirty Martini, Mojito, Gimlet, Sex on the Beach, Lime Rickey, Appletini, Tom Collins etc.</p2>
            </div>
        </div>
        <div class="col-md-6">
   
                <i class="ion-ios-paper-outline"></i>
                <h4>Curries</h4>
                <p2>Dopiaza, Makhani, Goan, Dhansak, Rajma Masala, Bhuna Gosht, Massaman, Thai Red or Green Curry, Punjabi Curry etc. </p2>
            </div>
        </div>

    </div>
    </div>
    </div>



    </section>


    <!-- 
            ================================================== 
                Portfolio Section Start
            ================================================== -->
    <section class=" Portfolio-page ">
        <div class="container ">
            <h2>Some Unique Dishes</h2>
          
                We make, what you can't imagine. Our Chefs make the comnination of old and modern dishes which takes this to another world.
                <br>
                <p3> Some dishes only serve to royal families.</p3>
                </br>
            </p3>
            <div class="row ">
                <div class="col-sm-3 ">
                    <img src="~/images/Curry.jpg" class="image-responsive inline-block" alt="">

                    <figcaption>
                        <h6>

                            Chankila Curry

                        </h6>
                        
                        <p5>
                            Hot & Spicy with country taste.
                        </p5>
                    </figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 ">
                    <img src="~/images/drinks.jpg" class="image-responsive inline-block" alt="">
                    <figure>
                        <figcaption>
                            <h6>

                                Marino Tarquiso

                            </h6>
                            <p5>
                                Winky Cocktail
                            </p5>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 ">
                    <img src="~/images/petty.jpg" class="image-responsive inline-block" alt="">
                    <figure>
                        <figcaption>
                            <h6>

                                Farista Petty
                            </h6>
                            <p5>
                                Foody Smell of the World
                            </p5>
                        </figcaption>
                    </figure>
                </div>

                <div class="col-sm-3 ">

                    <img src="~/images/donuts.jpg" class="image-responsive inline-block" alt="">

                    <figure>
                        <figcaption>
                            <h6>

                                Cakiso

                            </h6>
                            <p5>
                                Sweet sparkling dessert.
                            </p5>
                        </figcaption>
                    </figure>
                </div>



            </div>
        </div>
    </section>