@{
    ViewData["Title"] = "About";
}
   <!-- 
        ================================================== 
            Profile Description Section Start
        ================================================== -->

    <h1>Profile</h1>
    <section class="profile-description">

        <div class="container">
            <div class="row">
                <div class="col-md-6 wow fadeInLeft" data-wow-delay=".3s">
                    <img src="foodbg.jpg" alt="" class="img-responsive">
                </div>
                <div class="col-md-6">
                    <div class="block">

                        <h2> 
                            Why We are Different 
                        </h2>
                        <p>
                            We know, what people's choice. We got experienced staff and best chefs around the world. Wide range of food.
                        </p>
                        <p1>
                            Here would be the best experience of food in your life. We can bet !!!
                        </p1>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- 
        ================================================== 
            Company Feature Section Start
        ================================================== -->
    <section class="about-feature clearfix">
        <div class="container-fluid">
            <div class="col-md-4">
                <div>
                    <h5>
                        Why Choose Us
                    </h5>
                </div>
                    <p1>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                    </p1>
                </div>
                <div class="col-md-4">
                        <div>
                            <h5>
                                    What You Get
                            </h5>
                    </div>
                    <p1>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                    </p1>
                </div>
                <div class="col-md-4">
                        <div>
                            <h5>
                                Meet The Energy
                            </h5>
                        </div>
                    <p1>
                        Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas.
                    </p1>
                </div>
            </div>
        </div>
    </section>


    <!-- 
        ================================================== 
            Team Section Start
        ================================================== -->

    <section id="team">
        <div class="container">
            <div class="row">
                <h2 class="subtitle text-center">Meet The Team Members</h2>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".3s">
                        <div class="team-img">
                            <img src="images/team/team-1.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Karan Joshi</h3>
                        <p class="team_designation">Co-Founder</p>
                        <p class="team_text"></p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".5s">
                        <div class="team-img">
                            <img src="images/team/team-2.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">John Luke</h3>
                        <p class="team_designation">Manager</p>
                        <p class="team_text"></p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".7s">
                        <div class="team-img">
                            <img src="images/team/team-3.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Sachet Panwar</h3>
                        <p class="team_designation">Co-Partner</p>
                        <p class="team_text"></p>

                    </div>
                </div>
                <div class="col-md-3">
                    <div class="team-member wow fadeInLeft" data-wow-duration="500ms" data-wow-delay=".9s">
                        <div class="team-img">
                            <img src="images/team/team-4.jpg" class="team-pic" alt="">
                        </div>
                        <h3 class="team_name">Amandeep</h3>
                        <p class="team_designation">Invester</p>
                        <p class="team_text"></p>

                    </div>
                </div>
            </div>
        </div>
    </section>
