@{
    ViewData["Title"] = "Profile";
}

  
    <!-- 
            ================================================== 
                Profile Description Section Start
            ================================================== -->
    <div class="jumbotron">
        <h1>Profile</h1>
       
    
    <section class="profile-description custom-background row">
        <div class="container">
            <div class="row">
         
                    <img src="~/images/chef.jpeg" class="image-circle" alt="">
                </div>
                <div class="col-md-6">
                    <div class="block">


                        <h2>
                            Why We are Different
                        </h2>
                        <p1>
                            We know, what people's choice. We got experienced staff and best chefs around the world. Wide range of food ehich get attention of people.
                        </p1>
                        <p1>
                            Here would be the best experience of food in your life. We can bet !!!
                        </p1>

                    </div>
                </div>
            </div>
        </div>

    </section>
    <!-- 
            ================================================== 
                Profile Feature Section Start
            ================================================== -->
    <section class="Profile-feature clearfix ">
        <div class="container-fluid custom-background row">
            <div class="col-md-4 ">
                <div>
                    <h4>
                        Why Choose Us
                    </h4>
                </div>
                <p2 class="container-fluid p1 rcorners1">
                    We serve different food varieties from all around the world. Friendly staff makes customer happy. Our food makes the smell of Luxurious life.
                </p2>
            </div>
            <div class="col-md-4">
                <div>
                    <h4>
                        What You Get
                    </h4>
                </div>

                <p2 class="container-fluid p2 rcorners1">
                    You get food service's like an King of royal palace. You can get national dish of any country. You'll never look to other place after tasted food of our place.
                </p2>
            </div>
            <div class="col-md-4">
                <div>
                    <h4>
                        Meet The Energy
                    </h4>
                </div>
                <p2 class="container-fluid p3 rcorners1">
                    Have a look of nice staff with a lot of experience with pro skills Which takes customers to a gigatic place. Younger staff gets the attention of people with their personality.
                </p2>
            </div>
        </div>
        </div>
    </section>




    <!-- 
            ================================================== 
                Team Section Start
            ================================================== -->

    <section id="team">
        <div class="container">
            <div class="row">
                <h2 class="subtitle text-center">Meet The Team</h2>
                <div class="col-md-3">
                   
                        <div class="team-img">
                            <img src="~/images/karan.jpg" class="team-pic" alt="">
                        <h6 class="team_name">Karan Joshi</h6>
                        <p5 class="team_designation">Co-Founder</p5>

                    </div>
                    </div>
                </div>
                <div class="col-md-3">
             
                        <div class="team-img">
                            <img src="~/images/john.jpg" class="team-pic" alt="">
                        <h6 class="team_name">John Luke</h6>
                        <p5 class="team_designation">Investor</p5>

                    </div>
                    </div>
                </div>
                <div class="col-md-3">
               
                        <div class="team-img">
                            <img src="~/images/sachet.jpg" class="team-pic" alt="">
                        <h6 class="team_name">Sachet Panwar</h6>
                        <p5 class="team_designation">Co-Partner</p5>

                    </div>
                    </div>
                </div>
                <div class="col-md-3">
           
                        <div class="team-img">
                            <img src="~/images/aman.jpg" class="team-pic" alt="">
                        <h6 class="team_name">Amandeep </h6>
                        <p5 class="team_designation">CEO</p5>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>