body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/foodbg.png');
    /* background-color: red; */
    background-size: cover;
    background-size: 100%;
    background-attachment: fixed;
}
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}
.navbar-brand {
    text-align: left;
    font-style: italic;
    font-size: 40px;
    background-color: #037203;
}
.site-footer {
    background-color: #0C0101;
    color: #fff;
    margin-top: 30px;
    padding-top: 30px;
}

.bottom-footer {
    border-top: 1px solid #b2b2b2;
    color: #b2b2b2;
    margin-top: 10px;
    padding-top: 10px;
}

.footer-nav {
    text-align: right;
    list-style: none;
    color: #20A579
}

.footer-nav a {
    color: #7BD19D
}

.footer-nav a:hover {
    color: #20A579
}

.footer-nav li {
    display: inline;
    padding: 0px 10px;
}

.footer-nav li:not(:first-child):before {
    content: '|';
    padding: 0px 10px;
}
h1 {
    text-align: center;
    font-size: 100px;
    color: #E1E99F;
    font-style: italic;
}

h2 {
    text-align: right;
    font-size: 35px;
    color: #FDF9F9;
}

h5 {
    text-align: center;
    font-size: 35px;
    color: #FDF9F9;
}

h3 {
    display: inline-block;
    text-align: left;
    font-size: 35px;
    color: #FDF9F9;
}

p {
    font-size: 15px;
    color: #6BCBF1;
}

p1 {
    display: inline;
    text-align: right;
    font-size: 15px;
    color: #6BCBF1;
}

p2 {
    border-left: 4px solid transparent;
    padding-left: 5px;
    color: #6BCBF1;
    font-size: 20px;
    max-width: 150px;
    font-style: italic;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}
